/AYsLogin/bin
/AYsLogin/obj
/AYsLogin/appsettings.json
/AYsLogin/Log

/Decryptor/bin
/Decryptor/obj
/Decryptor/appsettings.json
/Decryptor/Log

/EntityFramework.Web/bin
/EntityFramework.Web/obj
/EntityFramework.Web/appsettings.json
/EntityFramework.Web/Log

/LanguageAll/bin
/LanguageAll/obj
/LanguageAll/appsettings.json
/LanguageAll/Log

/Paygate/bin
/Paygate/obj
/Paygate/appsettings.json
/Paygate/Log

/SSO/bin
/SSO/obj
/SSO/appsettings.json
/SSO/Log

/WebAdmin/bin
/WebAdmin/obj
/WebAdmin/appsettings.json
/WebAdmin/Log

/WebClient/bin
/WebClient/obj
/WebClient/appsettings.json
/WebClient/Log

/WebNuoc/bin
/WebNuoc/obj
/WebNuoc/appsettings.json
/WebNuoc/Log
/.vs
/..git
LICENSE
README.md