/Paygate/bin
/WebClient/bin
/WebNuoc/bin
/EntityFramework.Web/bin
/LanguageAll/bin
/Decryptor/bin
/WebAdmin/bin
/SSO/bin
/AYsLogin/bin
/SSO/obj
/WebAdmin/obj
/AYsLogin/obj
/Paygate/obj
/WebNuoc/obj
/WebClient/obj
/EntityFramework.Web/obj
/Decryptor/obj
/LanguageAll/obj
/.vs
/SSO/Log
/SSO/appsettings.json
/SSO/Properties
/WebAdmin/Log
/WebAdmin/appsettings.json
/WebAdmin/Properties
/WebNuoc/Properties
/WebNuoc/Log
/WebNuoc/appsettings.json
/WebClient/Properties
/WebClient/Log
/WebClient/appsettings.json
/AYsLogin/Properties
