/Paygate/bin
/WebClient/bin
/WebNuoc/bin
/EntityFramework.Web/bin
/LanguageAll/bin
/Decryptor/bin
/WebAdmin/bin
/SSO/bin
/AYsLogin/bin
/SSO/obj
/WebAdmin/obj
/AYsLogin/obj
/Paygate/obj
/WebNuoc/obj
/WebClient/obj
/EntityFramework.Web/obj
/Decryptor/obj
/LanguageAll/obj
/.vs
/SSO/Log
/WebAdmin/Log
/WebAdmin/appsettings.json
/WebAdmin/bin/Debug/net5.0/appsettings.json
/WebAdmin/bin/Release/net5.0/appsettings.json
/WebAdmin/obj/Release/net5.0/PubTmp/Out/appsettings.json
/WebNuoc/bin/Debug/net5.0/appsettings.json
/WebClient/bin/Debug/net5.0/appsettings.json
/WebNuoc/Properties
/WebClient/Properties
/WebAdmin/Properties
/SSO/Properties
/AYsLogin/Properties
