/AYsLogin/bin
/AYsLogin/obj
/AYsLogin/appsettings.json
/AYsLogin/Log
/AYsLogin/Properties

/Decryptor/bin
/Decryptor/obj
/Decryptor/appsettings.json
/Decryptor/Log
/Decryptor/Properties

/EntityFramework.Web/bin
/EntityFramework.Web/obj
/EntityFramework.Web/appsettings.json
/EntityFramework.Web/Log
/EntityFramework.Web/Properties

/LanguageAll/bin
/LanguageAll/obj
/LanguageAll/appsettings.json
/LanguageAll/Log
/LanguageAll/Properties

/Paygate/bin
/Paygate/obj
/Paygate/appsettings.json
/Paygate/Log
/Paygate/Properties

/SSO/bin
/SSO/obj
/SSO/appsettings.json
/SSO/Log
/SSO/Properties

/WebAdmin/bin
/WebAdmin/obj
/WebAdmin/appsettings.json
/WebAdmin/Log
/WebAdmin/Properties

/WebClient/bin
/WebClient/obj
/WebClient/appsettings.json
/WebClient/Log
/WebClient/Properties

/WebNuoc/bin
/WebNuoc/obj
/WebNuoc/appsettings.json
/WebNuoc/Log
/WebNuoc/Properties

/.vs
/..git
LICENSE
README.md