<div class="row" style="margin: 5px 0;">
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/1_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/19_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/24_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/4_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/2_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/14_logo_full.svg" /></div>
</div>
<div class="row" style="margin: 5px 0;">
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/16_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/3_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/8_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/6_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/5_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/11_logo_full.svg" /></div>
</div>
<div class="row" style="margin: 5px 0;">
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/12_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/10_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/7_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/20_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/15_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/22_logo_full.svg" /></div>
</div>
<div class="row" style="margin: 5px 0;">
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/17_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/23_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/18_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/27_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/25_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/30_logo_full.svg" /></div>
</div>
<div class="row" style="margin: 5px 0;">
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/9_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/33_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/46_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/35_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/36_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/38_logo_full.svg" /></div>
</div>
<div class="row" style="margin: 5px 0;">
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/42_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/44_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/41_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/37_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/43_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/45_logo_full.svg" /></div>
</div>
<div class="row" style="margin: 5px 0;">
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/39_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/34_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/40_logo_full.svg" /></div>
    <div class="col-md-2 col-xs-2"><img class="img-responsive" src="https://onepay.vn/paygate/assets/img/banklogo/31_logo_full.svg" /></div>
</div>