@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model WebNuoc.Models.OTPModel
<style>
    .text-success {
        color: #28a745 !important;
    }

    a.text-success:hover, a.text-success:focus {
        color: #19692c !important;
    }

    .text-info {
        color: #17a2b8 !important;
    }

    a.text-info:hover, a.text-info:focus {
        color: #0f6674 !important;
    }

    .text-warning {
        color: #ffc107 !important;
    }

    a.text-warning:hover, a.text-warning:focus {
        color: #ba8b00 !important;
    }

    .text-danger {
        color: #dc3545 !important;
    }

    a.text-danger:hover, a.text-danger:focus {
        color: #a71d2a !important;
    }
    input.input-validation-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>

<section id="contact-us">
    <div class="container">
        <div class="row">
            OK
        </div>
    </div>
</section>