@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Xác nhận email"];
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        @Localizer["Cảm ơn bạn đã xác nhận Email."]
    </p>
</div>
