@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Xác nhận lấy lại mật khẩu"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["Vui lòng kiểm tra Email để lấy lại mật khẩu"]
    <br />
    <a asp-action="Login" asp-controller="Account" asp-route-ReturnUrl="@ViewData["ReturnUrl"]">
        @Localizer["Đăng nhập"]
    </a>
</p>
