@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SSO.Models.AccountViewModels.LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = Localizer["Xác thực bằng mã khôi phục"];
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    @Localizer["Bạn yêu cầu đăng nhập bằng 1 mã khôi phục. Phương thức đăng nhập này không ghi nhớ, cho tới khi bạn sử dụng phương thức OTP"]
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="RecoveryCode"></label>
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Đăng nhập"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}