@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Đăng nhập hệ thống SSO"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["Mật khẩu của bạn đã đc tạo mới"]. @Localizer["Vui lòng"] <a asp-action="Login">@Localizer["Nhấn chuột vào đây để đăng nhập"]</a>.
</p>
