@using SSO.Views.Manage
@using Microsoft.AspNetCore.Identity
@using SSO.Entities
@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul>
    @*class="nav nav-pills nav-stacked"*@
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Trang cá nhân</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Thay đổi mật khẩu</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">Đăng nhập bằng Gmail, Facebook</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Đăng nhập 2 bước</a></li>
</ul>

